body {
    background: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex; 
    padding: 10px;
    margin:10px;
    background: #203F59;
    border-radius:10px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 4px solid #FFF;
}
.assignment img:hover {
    border:4px solid #F25C69;
}

h1 {
    color: #203F59;
    text-align: center;
}

a { 
    text-decoration: none;
    color: #F25C69;
}

a:hover {
    color: #FFF; 
}